.col-10{
    position: relative;
    left: 320px;
}

.navbar{
    position: absolute;
    height: 50px;
    width: 1200px !important;
    background-color: #A2041b;
    margin-left: -48px;
    z-index: 1000;
}

.navbar i{
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 30px;

}
.buttonNav{
    position: absolute;
    margin-left: 1140px;
    height: 50px;
    width: 60px;
    background-color: yellow;
}
.buttonNav:hover{
    background-color: #000;
    color: #fff;


}