.report-container {
    background-color: #fff4e8;
    min-height: 103vh;
    margin-left: 280px;
    max-width: 79vw;
    
}

.send-report-btn {
    margin-top: 80px;
    position: absolute;
    right: 11px;
}

.title-report {
    margin-left: 326px;
    max-width: 75%;
}

.items-report {
    margin-top: 140px;
    margin-left: 14px;
    flex-wrap: wrap;
}

.report-item {
    border-radius: 7px;
    box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.1);
    margin-right: 14px;
    width: 30%;
    margin-bottom: 20px;
}

.report-item-symbol {
    background-color: #A2041B;
    padding: 12px 30px;
    border-radius: 20px;
    margin: 8px;
    color: #fff;
    font-size: 36px;
}

.report-content {
    margin-top: 24px;
}

.chart-title {
}

.chart {
    max-width: 92vw;
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 40px;
    color: #A2041B;
    font-weight: bold;
}

.z-index-cao {
    z-index: 1000;
}

.pie-chart-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: -30px;
}

.pie-chart {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
}

.chart-line {
    margin-top: 130px;
    margin-left: -80px;
    width: 880px;
    color: #A2041B;
font-weight: normal !important;
}

.abchuz {
    border-bottom: 2px solid #ff000d;
}