.bg {
  background-color: #FFF4E8;
  max-height: 72vh;
  position: absolute; 
  top: 90px;
  bottom: 0;
  left: 0;
  right: 35px;
  margin: auto;
  border: 2px solid #A2041B;
}

.img-logo {
  margin-top: 20vh;
  width: 34vw;
}

.img-logo img {
  height: 100%;
  width: 50vh;
}

.login {
  width: 100%;
  margin-right: 48px;
}

.diamond {
  font-size: 60px;
  color: #A2041B;
}

.abc {
  margin-top: 40px;
}

.screen {
  background-color: #A2041B;
}

.out-background {
  background-color: #FFF4E8;
  width: 220vh;
  height: 100vh;
}

.btn-login {
  background-color: #A2041B;
  color: orange;
  font-weight: bold;
  height: 50px;
}

.btn-login:hover {
  background-color: #6b0413;
  color: white;
  font-weight: bold;
}

.mb-20 {
  padding: 10px;
}

.forget {
  margin-top: 32px;
}

.forget-btn {
  padding: 10px;
  margin-top: 24px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.btn-eye2 {
  position: absolute;
  top: 50%;
  right: 12px !important;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #A2041B;
}

.btn-eye2:hover {
  color: #6b0413;
}

.logoForget {
  margin-top: 65px !important;
}
