.not-authorized-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .not-authorized-container h1 {
    font-size: 2.5em;
    color: #ff0000;
  }
  
  .not-authorized-container p {
    font-size: 1.2em;
    margin: 20px 0;
  }
  
  .login-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  