.bg {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 0;
}

.reset-button {
    margin-top: 32px;
    padding: 10px 20px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #0056b3;
}

.reset-container {
    margin-top: 80px;
    margin-left: 80px;
}

.input-container {
    position: relative;
}

.password-wrapper {
    position: relative;
}

.input-container input {
    width: 100%;
    height: 48px;
    padding-right: 40px; /* Ensure there's space for the icon */
}

.password-wrapper input {
    width: calc(100% - 40px); /* Adjust width to fit the icon */
}

.error-reset {
    color: red;
    font-size: 0.8rem;
}

.btn-eye {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    color: #A2041b;
}

.error-confirm {
    margin-top: -24px;
}

.logo-reset {
    margin-top: 60px;
}